$bgcolor: #2E3440;
$textcolor: #D8DEE9;
$font: Consolas, monaco, monospace;
$fontsize: 16px;
$headcolor: #D8DEE9;
$hovercolor: #3B4252;
$bordercolor: #3B4252;
$enable-shadows: false;
$code-tab: 24px;

// Bulma
// $text: $textcolor;


// menu
// $menu-item-hover-background-color: $hovercolor;
// $menu-item-hover-color: $text;
// $menu-item-active-color: $text;
// $menu-item-radius: 0;
// $menu-item-active-background-color: #4C566A;
// $menu-list-border-left: none;
// $menu-nested-list-margin: 0;
// $menu-nested-list-padding-left: 0;
// $menu-label-color: #ECEFF4;
// $menu-label-font-size: 1.5em !default;
// $menu-item-color: $text !default;
// $menu-list-line-height: 1.25 !default;
// $menu-list-link-padding: 0.5em 0.75em !default;
// $menu-label-letter-spacing: 0.1em !default;
// $menu-label-spacing: 1em !default;


// // input
// $input-background-color: $bgcolor;

// $input-border-color: none;
// $input-hover-border-color: none;
// $input-focus-border-color: none;
// $input-shadow: none;
// $input-focus-box-shadow-color: none;
// $input-radius: 2px;
// $input-color: #81A1C1;
// $input-focus-box-shadow-size: none;